@import "_required";

body {
    font-family: 'Roboto', sans-serif;
    @apply px-2;
    @apply bg-slate-900;
}

div.main-title {
    @apply border-b-2 bg-slate-800 rounded-t-lg;
    @apply my-2 px-2;
    @apply text-gray-50 text-lg;
}

div.main-content {
    @apply p-1;
    @apply bg-slate-800;
    @apply text-gray-50 text-base;
    @apply rounded-b-lg;
}

div.elementButton {
    @apply px-2 py-1;
    @apply border-2 rounded-md border-sky-800;
    @apply text-gray-50 text-base font-normal;
    @apply bg-sky-800;
    &:hover {
        @apply border-2 rounded-md border-sky-500;
        @apply text-gray-800 text-base font-semibold;
        @apply bg-sky-500;
        cursor: pointer;
    }
}

div.appPage {
    div.appPage-header {
        @apply flex items-stretch justify-between space-x-4;
        div.appPage-sub-header {
            @apply flex-auto;
            div.appPage-title {
                @apply text-gray-200 text-xl font-semibold ;
            }
            div.appPage-description {
                @apply text-gray-200 text-sm font-thin inline-block align-text-bottom leading-7;
            }
        }
        div.appPage-controls {
            @apply flex-none self-end;
            div.elementButton {
                @apply mr-3;
            }
        }
    }
    div.appPage-content {
        @apply text-base font-normal ;
        @apply border-2 rounded-md mt-1 border-slate-400;
    }
}

@import "pageRoster";

