div.pageRoster {
    @apply flex justify-center flex-wrap;
    div.character-frame {
        @apply flex-shrink;
        @apply m-0.5 px-1;
        @apply border border-violet-900 rounded-md;
        @apply grid grid-flow-col gap-2;
    }
    div.character-info-basic {
        @apply border-0 border-violet-800 rounded-sm;
        @apply row-span-1;
        @apply text-xs;
        div.character-info-basic-pair {
            @apply flex;
            div.character-info-basic-name {
                @apply flex-none;
                @apply font-bold;
                @apply mx-1 w-20;
            }
            div.character-info-basic-value {
                @apply flex-grow;
                @apply text-violet-500;
            }
        }
    }
    div.character-info-aptitude {
        @apply border-0 border-violet-800 rounded-sm;
        @apply row-span-1;
        @apply text-xs;
        div.character-info-aptitude-pair {
            @apply flex;
            div.character-info-aptitude-name {
                @apply flex-none;
                @apply font-bold;
                @apply mx-1 w-9;
            }
            div.character-info-aptitude-value {
                @apply flex-grow;
                @apply text-violet-500;
            }
        }
    }
}